.login-container {
  background: var(--color-background-dark);
  font-family: Assistant, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login {
  color: white;
  background: #136a8a;
  background: -webkit-linear-gradient(
    to right,
    var(--color-primary-alt),
    var(--color-primary)
  );
  background: linear-gradient(
    to right,
    var(--color-primary-alt),
    var(--color-primary)
  );
  /* margin: auto; */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0px 10px 20px rgba(0, 0, 0, 0.3),
    0px 30px 60px 1px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 50px;
}
.login .head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .head .company {
  font-size: 2.2em;
}
.login .msg {
  text-align: center;
}
.login .form input[type="text"].text {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
}
.login .form .text::placeholder {
  color: #d3d3d3;
}
.login .form input[type="password"].password {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login .form .password::placeholder {
  color: #d3d3d3;
}
.login .form .btn-login {
  background: none;
  text-decoration: none;
  color: var(--color-secondary);
  box-shadow: 0px 0px 0px 2px var(--color-secondary);
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
}
.login .form .btn-login:hover {
  background: var(--color-secondary);
  color: dimgray;
  transition: 0.5s;
}
.login .forgot {
  text-decoration: none;
  color: var(--color-secondary);
  float: right;
}
footer {
  position: absolute;
  color: #136a8a;
  bottom: 10px;
  padding-left: 20px;
}
footer p {
  display: inline;
}
footer a {
  color: green;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .heart {
  color: #b22222;
  font-size: 1.5em;
}

@media screen and (max-width: 600px) {
  .login-container {
    /* padding: 2rem; */
    /* max-width: 90%; */
  }
}
