.posts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  overflow: hidden;
  width: 100%;
}

#search {
  height: 1.8rem;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 1rem;
  width: 100%;
}

#btn-search {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
  width: max-content;
  max-width: 120px;
}
