.home-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  flex-wrap: wrap;
}

.home-container span {
  color: yellow;
  font-weight: 800;
  font-size: 3.5rem;
}

#styled-span {
  color: yellow;
  font-weight: 800;
  font-size: 2rem;
}

.home-container h3 {
  margin-left: 3rem;
}

.login-wrapper {
  margin: 2rem;
  padding: 2rem;
  max-width: 400px;
  
}

@media screen and (max-width: 600px) {
  .home-container h3 {
    margin-left: 0;
    text-align: center;
  }
}
