* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-background-dark: #242424;
  --color-background-light: rgb(226, 226, 226);

  --color-red: rgb(255, 55, 55);
  --color-red-transparent: rgba(255, 0, 0, 0.349);
  --color-yellow: rgb(255, 255, 99);

  --color-primary: rgb(34, 116, 192);
  --color-primary-alt: rgb(43, 153, 255);
  --color-secondary: rgb(201, 201, 79);
  --color-secondary-alt: rgb(255, 255, 99);
  --color-accent: rgb(255, 55, 55);
  --color-accent-alt: rgba(255, 0, 0, 0.349);

  --color-onLight: black;
  --color-onDark: rgba(255, 255, 255, 0.87);
}

h1,
h2,
h3,
h4,
p {
  color: rgb(216, 215, 250);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(253, 253, 126);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
